node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.vscode/*
!.vscode/extensions.json
.idea
.shorthand
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
